body {
  margin: 0;
  font-family: var(--base-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:var(--Classic_Elegance-color);
  color: var(--Cream-color);
}
html {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Fonts*/
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsBold";
  src: url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PrincessSofia";
  src: url("./fonts/PrincessSofia/PrincessSofia-Regular.ttf") format("truetype");
}
/*End_Fonts*/

:root {
  /*Colors*/
  --Classic_Elegance-color: #333333;
  --Cream-color: #fffff0;
  --Gold-color: #d4af37;

  /*Fonts*/

  --base-font-family: "Poppins";
  --bold-font-weight: "PoppinsBold";
  --special-hand-font-family: "PrincessSofia";


}

/*Here are some common media queries you can use in your CSS to adapt your web app for various screen sizes*/
.container {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
/*Small screens (phones in portrait orientation)*/
@media screen and (max-width: 576px) {
  .container {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .container span {
    margin: 10px 0;
  }}

/*Small screens (phones in landscape orientation):*/
@media screen and (max-width: 576px) and (orientation: landscape) {
  /* CSS rules for small landscape screens */
}

/*Medium screens (tablets):*/
@media screen and (min-width: 577px) and (max-width: 1024px) {
  /* CSS rules for medium screens (tablets) */
}
/*Large screens (desktops):*/
@media screen and (min-width: 1025px) {
  /* CSS rules for large screens (desktops) */
}



/**/
:where(.css-dev-only-do-not-override-qgg3xn).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #000000!important;
  border-color: #000000!important;
}